.container {
  max-width: 800px;
  margin: 0 auto;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imgs {
  width: 250px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.previous,
.next,
.page-link {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #c0c0c0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.previous:hover,
.next:hover,
.page-link:hover {
  background-color: #5b5b5b;
}

.current {
  background-color: #000000;
}
